In [1]:
import sqlalchemy
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

# Database Setup
engine = create_engine("sqlite:///../resources/stroke_data.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

#test view all classes found by automap
Base.classes.keys()

conn = engine.connect()

#populate obesity table
stroke_df = pd.read_sql("SELECT * FROM stroke_data", conn)

stroke_df.head()

,?,age,avg_glucose_level,bmi,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0,1.040584334185826,2.723410903530197,1.193238162209789,0,1,0,1,0,0,0,1,0,1,0,0,1
1,1,1.614270327485722,-0.0005227665986433442,0.5893896105370293,0,1,0,1,0,0,1,0,0,0,1,0,1
2,2,0.24624988192443203,1.4485291841720218,0.8692218661902591,0,1,0,1,0,0,0,1,0,0,0,1,1
3,3,1.5701406356934222,1.5126504540805694,-0.6624915331747888,0,1,0,0,1,0,1,0,0,0,1,0,1
4,4,1.6584000192780215,1.7808947977464298,0.07390913959686891,0,1,0,1,0,0,0,1,0,1,0,0,1